.products{
    margin-left: 60px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.products-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* Optional: set width or max-width as needed */
  /* width: 200px; */
}

.subproduct-div img{
    border: 1px solid black;
    height: 200px;
    width: 200px;
    margin: 10px 40px;

}

.subproducts-div{
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 10px;
}

